#textArea {
    border: 1px solid rgb(207, 207, 207);
    border-radius: 3px;
    margin-left: 5%;
    margin-top: 10px;
    text-align: right;
    width: 90%;
    padding: 10px;
}
#textArea:focus {
    border-radius: 3px;
    outline: none !important;
    border: 1.4px solid rgb(73, 33, 126);
}